.env
*.env
.secrets/
.venv-*/
data/*
!data/.gitkeep
data/convertx-test/output/*
data/convertx-test/input/*
!data/convertx-test/.gitkeep
backups/**
!backups/.gitkeep
config/homepage/logs/
config/homepage/kubernetes.yaml
*.log
*.tmp
.DS_Store
